body {
    background-color: silver;
}

.buttonGroupsHolder {
    color: darkgoldenrod;
}

.buttonGroup {
    margin-top: 20px;
    background-color: cadetblue;
    border-radius: 20px;
    color:white
}

button {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #5877a6;
}

button:hover {
    background-color: black;
}